/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS variables */
:root{
    --secondary-color: #d9ffff;
    --primary-color: #9a312f;
}

/*General Styles*/
body{
    font-family: 'Roboto', sans-serif;
}

#navbar img{
    width: 80px;
}

h1,h2,h3,#navbar .nav-link{
    color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}

#signs .card-body, #support .card-body, #tips .card-body{
    padding: 1rem 1rem 1rem 0;
}

.sharp-corners,
.sharp-corners* {
    border-radius: 0;
}

.navbar,
#sociallinks {
    background-color: var(--secondary-color);
}

.card-title{
    color: var(--primary-color);
}

/*Navbar Styles*/
#navbar .nav-link {  
    text-transform: uppercase;
    /* add space between text and undeline */
    text-underline-offset: 4px;
    
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}


/* Header styles*/
.call-to-action{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 24px;
    height: 50px;
    border: none;
    border-radius: 0;

}

/*Button Style*/
.button-style{
    border-radius: 0;
    background-color: #f9d8c0;
    color: var(--primary-color);
    border: none;
}

/*Signs section styles*/
#signs .card {
    border-style: none;
}

/*Tips section styles*/
#tips .card{
    border: none;
}

/*Support section styles*/
#support .card{
    border: none;
}

#support .form-control, #signs img, #tips img, #tips .card{
    border-radius: 0;
}

#support a{
    text-decoration: none;
    color: #9a312f;
}

#support a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

/*Footer styles*/
#sociallinks i{
    font-size: 20px;
    color: var(--primary-color);
}

/*Media queries*/

@media screen and (min-width: 1024px) {
    #tips .card-body{
        min-height: 238px
    }

}