/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS variables */
:root{
    --secondary-color: #d9ffff;
    --primary-color: #9a312f;
}
/*General Styles*/
body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,#navbar .nav-link{
    color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}

.navbar,
#sociallinks {
    background-color: var(--secondary-color);
}

/*Navbar Styles*/
#navbar .nav-link {  
    text-transform: uppercase;
    /* add space between text and undeline */
    text-underline-offset: 4px;
    
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

/*Footer styles*/
#sociallinks i{
    font-size: 20px;
    color: var(--primary-color);
}
#signs .card {
    border-style: none;
}

#tips.card{
    border-color: none;
}

#resources .card{
    border-color: none;
}

#signs .card-body {
    padding: 1rem 1rem 1rem 0;
}

.sharp-corners,
.sharp-corners* {
    border-radius: 0%;
}


@media (min-width: 1024px) {
    .text-container {
      line-height: 30px;
    }
}